extends /_includes/layout

block title
    title Cuberto Sequence Scroll | Demo

block content

    .cb-layout#view-main
        .cb-content

            header.cb-demo.-inverse
                .cb-demo-content.-full
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v1
                                .cb-demo-shape.-v2
                                .cb-demo-shape.-v3
                            .cb-demo-header
                                h1 Awesome#[br] hover

            section.cb-demo
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                                .cb-demo-shape.-v7
                            .cb-demo-header
                                h2 Slinky#[br] toy


            section.cb-demo.-inverse
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v4
                                .cb-demo-shape.-v5
                                .cb-demo-shape.-v6
                            .cb-demo-header
                                h2 Amazing#[br] Triangles

            section.cb-demo
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v8
                                .cb-demo-shape.-v9
                            .cb-demo-header
                                h2 Cool#[br] squares

            section.cb-demo.-inverse
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v10
                            .cb-demo-header
                                h2 Jelly#[br] belly

            section.cb-demo
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading
                            .cb-demo-shapes
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                                .cb-demo-shape.-v11
                            .cb-demo-header
                                h2 Shake#[br] blob

            header.cb-demo.-inverse
                .cb-demo-content
                    .cb-demo-container
                        .cb-demo-heading.-normal
                            .cb-demo-shapes.-none
                                .cb-demo-shape.-v1
                                .cb-demo-shape.-v2
                            .cb-demo-header
                                h1 Secret#[br] inside

            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Credits
                        .cb-outro-navs
                            .cb-outro-nav: a(href="//cuberto.com/", target="_blank") Cuberto
                            .cb-outro-nav: a(href="//greensock.com/gsap/", target="_blank") GSAP